@font-face {
  font-family: 'lato';
  src: url('./font/lato/lato-bold-webfont.woff2') format('woff2'),
    url('./font/lato/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;

}

@font-face {
  font-family: 'lato';
  src: url('./font/lato/lato-regular-webfont.woff2') format('woff2'),
    url('./font/lato/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'inter';
  src: url('./font/inter/inter-thin-webfont.woff2') format('woff2'),
    url('./font/inter/inter-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}

:root {
  --base-color:#f9f9f9;
  --base-color-shadow-main: #646464;
  --base-color-shadow-secondary: #282b2c;
  --base-accent-color: #393D3F;
  --base-font-color: #1f2b37;
  --base-margin: calc(2.5rem + calc(1vw + 1vh));
  --base-padding: calc(1.25rem + calc(0.5vw + 0.5vh));
  --main-heading-font-size: calc(1.75rem + calc(0.25vw + 0.25vh));
  --name-heading-font-size: calc(2.5rem + calc(0.25vw + 0.25vh));
  --main-medium-font-size: 1rem;
  --header-img-expansion: 4rem;
}

body {
  display: flex;
  justify-content: center;
  font-family: "lato", sans-serif;
}

#content {
  display: flex;
  max-width: 1980px;
  background-color: var(--base-color);
  color: var(--base-font-color);
  flex: 1;
}

.about-me-container {
  width: 100%;
  background: linear-gradient(170deg, var(--base-accent-color) 50%, var(--base-color) 50.15%);
}

.about-me {
  background-color: var(--base-color);
  margin: calc(var(--base-margin) * 1.15) var(--base-margin) ;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0 1rem var(--base-color-shadow-secondary);
}

.about-me .main-heading {
  font-size: var(--main-heading-font-size);
  margin: 0;
}

.about-me article {
  padding: var(--base-padding);
}

.about-me p {
  font-size: var(--main-medium-font-size);
  max-width: 72ch;
}

.header-img  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: calc(100% + var(--header-img-expansion));
}

.header-img h1 {
  font-family: "inter", "lato", sans-serif;
  font-weight: 100;
  position: absolute;
  bottom:  calc(calc(var(--header-img-expansion) * -1) + calc(var(--name-heading-font-size) * 0.5));
  font-size: var(--name-heading-font-size);
  text-shadow: 0 3px 3px var(--base-color-shadow-main);
  z-index: 2;
  color: var(--base-color);
}

.navigation-list {
  margin: 0;
  display: flex;
  justify-content: end;
  list-style: none;
}

.icon {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .about-me {
    margin-top: calc(var(--base-margin) * 2);
      display: block;
    }

  .header-img {
    width: 50%;
    height: 225px;
    float: left;
  }

  .header-img img {
    bottom: 1rem;
    right: var(--base-padding);
  }

    .header-img h1 {
     top: calc(var(--name-heading-font-size) * -2.1);
     left: 70%;
    }

}

@media (max-width: 480px) {
  :root {
    --base-margin: calc(1.75rem + calc(1vw + 1vh));
  }

  .about-me-container {
    display: flex;
    background: none;
    background-color: var(--base-color);
  }

  .about-me {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }

  .header-img {
    border-radius: 0;
    object-fit: none;
    background: linear-gradient(145deg, var(--base-accent-color) 50%, var(--base-color) 50.15%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    float: none;
  }

  .header-img img {
    position: initial;
    padding-top: var(--base-padding);
    height: auto;
    width: calc(100% - calc(var(--base-margin) * 2));
  }

  .header-img h1 {
    margin: 0;
    height: min-content;
    text-align: center;
    left: 0;
    right: 0;
    top: auto;
    bottom: calc(var(--base-padding) / 2);
  }

  .main-heading {
    text-align: center;
  }

  .navigation-list {
    justify-content: center;
  }

}